---
import config from "@/config/config.json";
import Base from "@/layouts/Base.astro";
import { getAllTaxonomy, getTaxonomy } from "@/lib/taxonomyParser.astro";
import { humanize } from "@/lib/utils/textConverter";
import PageHeader from "@/partials/PageHeader.astro";

const { blog_folder }: { blog_folder: string } = config.settings;
const servicos = await getTaxonomy(blog_folder, "servicos");
const allservicos = await getAllTaxonomy(blog_folder, "servicos");
---

<Base title={"Serviços"}>
  <PageHeader title={"Serviços"} />
  <section class="section">
    <div class="container text-center">
      <ul>
        {
          servicos.map((category: string) => {
            const count = allservicos.filter((c) => c === category).length;
            return (
              <li class="m-3 inline-block ">
                <a
                  href={`/servicos/${category}`}
                  class="block rounded bg-theme-light px-4 py-2 text-xl text-dark dark:bg-darkmode-theme-light dark:text-darkmode-dark"
                >
                  {humanize(category)}{" "}
                  <span class="ml-2 rounded bg-body px-2 dark:bg-darkmode-body">
                    {count}
                  </span>
                </a>
              </li>
            );
          })
        }
      </ul>
      <img
        class="mx-auto py-16"
        src="/images/procurando.webp"
        alt="nenhuma-produto-encontrado"
        height={200}
        width={200}
      />
    </div>
  </section>
</Base>
