---
import Base from "@/layouts/Base.astro";
---

<Base title="Página não encontrada">
  <section class="section-sm text-center">
    <div class="container">
      <div class="row justify-center">
        <div class="sm:col-10 md:col-8 lg:col-6">
          <span
            class="text-[8rem] block font-bold text-dark dark:text-darkmode-dark"
          >
            404
          </span>
          <h1 class="h2 mb-4">Página não encontrada</h1>
          <div class="content">
            <p>
              A página que você procura pode ter sido removida, ter seu nome
              alterado ou estar temporariamente indisponível.
            </p>
          </div>
          <a href="/" class="btn btn-primary mt-8">Voltar</a>
        </div>
      </div>
    </div>
  </section>
</Base>
